/* Step1.css */
.step1-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
}

.step1-section {
  margin-bottom: 20px;
}

.step1-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.step1-description {
  color: #666;
  margin-bottom: 20px;
}

.input,
.btn-primary {
  background-color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: calc(100% - 8px); /* Increased width */
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: 007bff;
}

.input:focus,
input:focus {
  outline: none;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Step2.css */

.step2-container {
  max-width: 600px;
  margin: 20px auto; /* Adjust margin-top and margin-bottom */
  padding: 20px;
  border: 1px solid #007bff; /* Change border color */
  border-radius: 5px;
  background-color: #fff; /* Change background color */
}

.step2-section {
  margin-bottom: 20px;
}

.step2-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff; /* Change title color */
}

.step2-description {
  color: #666;
  margin-bottom: 20px;
}

.input,
.btn-primary {
  background-color: #fff; /* Change input and button background color */
  border: 1px solid #007bff; /* Change input and button border color */
  color: #007bff; /* Change input and button text color */
}

.input:focus,
input:focus {
  outline: none; /* Remove the default focus outline */
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #007bff; /* Change button background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3; /* Change button hover color */
}
/* Step3.css */

.step3-container {
  max-width: 600px;
  margin: 20px auto; /* Adjust margin-top and margin-bottom */
  padding: 20px;
  border: 1px solid #007bff; /* Change border color */
  border-radius: 5px;
  background-color: #fff; /* Change background color */
}

.step3-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff; /* Change title color */
}

.video-container {
  position: relative;
  margin-bottom: 20px;
}

.video {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  transform: translateY(1px);
}
/* Step4.css */
.step4-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
}

.step4-section {
  margin-bottom: 20px;
}

.step4-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.step4-description {
  color: #666;
  margin-bottom: 20px;
}

.input,
.btn-primary {
  background-color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: calc(100% - 8px);
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: #007bff;
}

.input:focus,
input:focus {
  outline: none;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
/* Step5.css */

.step5-container {
  max-width: 600px;
  margin: 20px auto; /* Adjust margin-top and margin-bottom */
  padding: 20px;
  border: 1px solid #007bff; /* Change border color */
  border-radius: 5px;
  background-color: #fff; /* Change background color */
}

.step5-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff; /* Change title color */
}

.video-container {
  position: relative;
  margin-bottom: 20px;
}

.video {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  transform: translateY(1px);
}
